@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu:ital,wght@0,300;1,300&display=swap');
*:focus {
    outline: none;
}

html {
    /*for smooth scrolling*/
    scroll-behavior: smooth;
    /* overflow-x: auto; */
    background-color: #e9ecef;
}

body {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

.container-auto-mid {
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.7rem;
    font-weight: bold;
}

a {
    margin: 0 auto;
}

a:hover {
    text-decoration: none;
}

.otp {
    width: 40%;
}

.big {
    font-size: 60px;
}

.space {
    height: 40px;
}

.contact {
    padding: 20px 20px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 2.3rem;
}

.navbar {
    padding: 0;
    margin-top: -15px;
    margin-bottom: 0;
    background: #1e90ff;
}

.navbar-brand {
    margin-left: 10px;
    margin-top: 1rem;
    /* cursor : not-allowed; */
}

.list-inline {
    margin-bottom: 0;
    cursor: pointer;
}

.navbar-nav {
    width: 100%;
}

.nav-link a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.link {
    cursor: pointer;
}

.line {
    min-height: 2rem;
}

.link {
    margin: 0;
}

.line > div{
    background-color: #ffffff;
    width: 0.2rem;
    height: 0rem;
    margin: 0 auto;
    transition: all 0.4s ease-in-out;
}

.link:hover > .line > div{
    height: 1.8rem;
}

.nav-link a {
    margin-left: 0%;
    margin-right: 0%;
}

.side-header {
    font-size: 30px;
}

.side-content {
    font-size: 20px;
}

.top-align {
    top: 50%;
}

input{
    border: none;
    width: 90%;
    padding-left: 10%;
}

.modal-inp{
    width: 45%;
    padding: none;
    margin: 0 auto;
}

.side-icon{
    font-size: 1.7em;
}

.inputs, select {
    margin: 0 auto;
    border: none;
    border-bottom: 2px solid #1e90ff;
    /* border-radius: 10px; */
    max-width: 70%;
    padding: 0px;
}

.login-btn{
    max-width: 50%;
}

.address-box {
    border: 2px solid #1e90ff;
    border-radius: 10px;
    width : 80%;
    max-width: 95%;
}

.container {
    overflow: auto;
    padding: 0;
    width: 100%;
    background: white;
}

.description-box {
    margin-top: 10%;
}

.header {
    text-align: center;
}

.page-header {
    margin-top: -10px;
    width: 100%;
    background: #1e90ff;
    color: white;
}

.cms_logo {
    margin-bottom: 10px;
}

.navbar-brand-animate{
    animation: 1.5s logo_animate;
}

@keyframes logo_animate {
    50% {
        width: 50px;
    }
}

.add-btm-margin {
    margin-bottom: 20px;
}

.dodger {
    color: #1e90ff;
}

.dodger-bg {
    background: #1e90ff;
    color: #ffffff;
}

.full-width {
    width: 100%;
}

.welcome-section {
    margin-left: 1.5%;
    margin-right: 1.5%;
    width: 97%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.col-lg-4 {
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 #666;
    margin-bottom: 20px;
    height: 100%;
    transition: 0.3s;
}

.super-card:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 #666;
}

.pointer {
    cursor: pointer;
}

.login {
    border-radius: 0px 20px;
    margin-bottom: 0;
}

.bio {
    font-size: 20px;
}

.bg-fade {
    color: lightgray;
}

.text-center {
    text-align: center;
}

.gradient {
    background-image: linear-gradient(white, #1e90ff);
}

.main-content {
    margin: 10px;
    font-size: 20px;
}

.main-body {
    margin-bottom: 10px;
}

.main-section {
    margin-left: 1.5%;
    margin-left: 1.5%;
    width: 97%;
    margin-bottom: 20px;
}

.main-image {
    display: flex;
}

.description-figure {
    text-align: center;
}

.top-btn {
    position: fixed;
    bottom: 60px;
    right: 10px;
    border: none;
    background: rgba(255, 255, 255, 0);
    display: none;
}

.kill-margin {
    margin: 0;
}

.kill-padding {
    padding: 0;
}

.kill-padding-left {
    padding-left: 0;
}

.kill-padding-right {
    padding-right: 0;
}

.white {
    background: #ffffff;
    color: #1e90ff;
}

.red {
    background: #ff3d49;
    color: #ffffff;
}

.green {
    background: #8bd8bd;
    color: #ffffff;
}

.footer {
    font-size: large;
    padding: 4px;
    background: lightgray;
}

.footer-body {
    margin-top: 10px;
}

.width-max {
    max-width: 100%;
}

.hold{
    min-width: 65%;
    min-height: 2rem;
}

.space-sm {
    height: 15px;
}

.top{
    width: 100%;
    max-width: 100%;
    display: flex;
}

.card-icon{
    font-size: 2rem;
    width: 20%;
    margin: 0 auto;
}

.card-title-prof{
    font-size: 2rem;
    font-weight: 600;
    padding-left: 0.9em;
    padding-bottom: .6em;
    width: 75%;
}

.card-text-prof{
    font-size: 1.15rem;
    font-weight: 600;
    padding-left: 1.5em;
    padding-bottom: .6em;
}

.modal-header h4{
    font-size: 1.8rem;
    color: #1e90ff;
}

.modal-body input{
    border-bottom: 1px solid #666;
    width: 100%;
    margin: 0 auto;
    padding-left: 20%;
    color: #1e90ff;
    font-size: 1.4rem;
}

.modal-body{
    font-size: 1.6rem;
}

#selectall{
    width: 20%;
}

tr{
    cursor: pointer;
}

.media-body{
    padding: 0 0.5em;
}

@media(max-width:760px) {
    /* mall screens will not have fixed bottom */
    .fixed-bottom {
        position: relative;
    }
    .space {
        height: 20px;
    }
    .navbar {
        margin-top: 0;
    }
    .page-header {
        display: none;
    }
    .nav-link a h3 {
        border-bottom: 0;
    }
    .nav-link:hover {
        cursor: pointer;
        background: #0a7ceb;
    }
    /* brand name disappears in small screens */
    .brand-name {
        display: none;
    }
    .description-box {
        margin-top: 10px;
    }
    .top-btn {
        bottom: 85px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0rem;
        padding-left: 0rem;
        min-width: 100%;
    }
    .container-auto-mid {
        max-width: 100%;
    }
    .login-btn{
        max-width: 90%;
    }
}