{% extends 'cms/base.html' %}

{% load static %}

            {% block breadcrumbs %}
                {% if user.is_authenticated %}
                <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    {% if "Past" in page %}
                    <li class="breadcrumb-item">Past-appointments</li>
                    {% else %}
                    <li class="breadcrumb-item">Active-appointments</li>
                    {% endif %}
                {% endif %}
            {% endblock %}
    
{% block main_block %}

   <main class="main-body">
	    <header class="row welcome-section">    
            <div class="col-lg-12 text-center contain">
				{% comment %} <h1><strong>Hey {{user.first_name}}</strong></h1> {% endcomment %}
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 text-center">
		    <h2 class="main-content"><strong>All Your {{page}}</strong></h2>
            </div>
            <div class="col-lg-1">
            </div>
	    </header>
            
        {% comment %} <hr /> {% endcomment %}
        <form class="text-center" action="" method="POST">
        {% csrf_token %}
		<div class="container-fluid">
            <div class="row text-center">
                {% if bookings|length < 1 %}
                <div class="col-lg-12 add-btm-margin">
                    <div class="card pointer">
                        <img src="{% static 'cms/img/nodata.svg' %}" class="card-img-top gradient" height="400px"/>
                        <div class="card-body">
                            {% if "past" in page  %}
                                <p class="card-title pointer side-content" ><b>No Past Appointments!</b></p>
                            {% else  %}
                                <p class="card-title pointer side-content" ><b>No Active Appointments!</b></p>
                            {% endif %}
                        </div>
                    </div>
                </div>  
                {% else %}
                <div class="col-lg-12">
                    <div class="modal fade" id="cancelModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header ">
                                    <h4 class="modal-title">Warning!</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p><b id="appointment-text">
                                        Are you sure that you want to cancel your appointment?
                                    </b></p>
                                </div>
                                <div class="modal-footer text-center">
                                    <button data-dismiss="modal" class="btn btn-success modal-inp">NO</button>
                                    <input type="submit" class="btn btn-danger modal-inp" value="YES" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <table class="table table-responsive-md table-hover">
                        <thead class="dodger-bg">
                            <tr onclick="selectAll();">
                                {% if "Past" not in page %}
                                <th>Select<input id="selectall" type="checkbox"/></th>
                                {% endif %}
                                <th>Booking Id</th>
                                {% comment %} <th>Patient</th> {% endcomment %}
                                <th>Doctor</th>
                                <th>Date</th>
                                <th>Time slot</th>
                                {% if "Past" in page %}
                                <th>Reason</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                        {% if "Past" in page %}
                            {% if "Cancel" in booking.reason %}
                            <tr class="table-danger">
                            {% endif %}
                        {% else %}
                            <tr onclick="select(all=false);" class="select-bit">
                        {% endif %}
                                {% if "Past" in page %}
                                <td>{{booking.book_no}}</td>
                                {% comment %} <td>{{booking.patient_name}}</td> {% endcomment %}
                                <td>{{booking.doctor_name}}</td>
                                <td>{{booking.book_date}}</td>
                                <td>{{booking.book_slot}}</td>
                                <td>{{booking.reason}}</td>
                                {% else %}
                                <td><input class="checkbox" type="checkbox" name="book_no" value="{{booking.id}}"/></td>
                                <td>{{booking.id}}</td>
                                {% comment %} <td>{{booking.contact.user.username}}</td> {% endcomment %}
                                <td>{{booking.doctor.name}}</td>
                                <td>{{booking.booking_date}}</td>
                                <td>{{booking.time_slot}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                {% if "Past" not in page and bookings|length > 0%}
                <div class="col-lg-12 text-center">
                            <a data-toggle="modal" data-target="#cancelModal" class="btn btn-danger btn-lg"/>Cancel</a>
                </div>
                {% endif %}
            </div>
        </div>
        </form>
    <div class="space"></div>
    </main>

{% endblock %}

