{% extends 'cms/base.html' %}

{% load static %}

            {% block breadcrumbs %}
                {% if user.is_authenticated %}
                <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
                <li class="breadcrumb-item">Dashboard</li>
                {% endif %}
            {% endblock %}
    
{% block main_block %}

   <main class="main-body">
	    <header class="row welcome-section">    
            <div class="col-lg-12 text-center contain">
				<h1><strong>Hey {{user.first_name}}</strong></h1>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-10 text-center">
		    <p class="main-content">This is your dashboard</p>
            </div>
            <div class="col-lg-1">
            </div>
	    </header>
            
        <hr />
        
		<div class="container-fluid">
            <div class="row text-center">
                    <div class="col-lg-4">
                        <div class="card pointer">
                            <img src="{% static 'cms/img/pastconsult.svg' %}" class="card-img-top gradient" height="300px;"/>
                        <div class="card-body">
                            <a href="{% url 'pastconsult' %}" class="btn btn-primary btn-lg"><i class="fa fa-heartbeat"></i> Past Consultations</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card pointer">
                            <img src="{% static 'cms/img/pastbook.svg' %}" class="card-img-top gradient" height="300px;"/>
                        <div class="card-body">
                            <a href="{% url 'pastbooking' %}" class="btn btn-primary btn-lg"><i class="fa fa-heartbeat"></i> Past Appointments</a>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card pointer">
                            <img src="{% static 'cms/img/activebook.svg' %}" class="card-img-top gradient" height="300px;"/>
                        <div class="card-body">
                            <a href="{% url 'activebooking' %}" class="btn btn-primary btn-lg"><i class="fa fa-heartbeat"></i> Active Appointments</a>
                        </div>
                        </div>
                    </div>
                <div class="col-lg-4">
                    <div class="card pointer">
                        <img src="{% static 'cms/img/lab.svg' %}" class="card-img-top gradient" height="300px;"/>
                    <div class="card-body">
                        <a href="{% url 'report' %}" class="btn btn-primary btn-lg"><i class="fa fa-heartbeat"></i> Lab Reports</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card pointer">
                        <img src="{% static 'cms/img/doctor.svg' %}" class="card-img-top gradient" height="300px;"/>
                    <div class="card-body">
                        <a href="{% url 'doctors' %}" class="btn btn-primary btn-lg"><i class="fa fa-heartbeat"></i> Our Doctors</a>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card pointer">
                        <img src="{% static 'cms/img/pharmacy.svg' %}" class="card-img-top gradient" height="300px;"/>
                    <div class="card-body">
                        <a href="{% url 'doctors' %}" class="btn btn-primary btn-lg disabled"><i class="fa fa-heartbeat"></i> Online Pharmacy</a>
                    </div>
                        <div class="card-footer">
                            <strong class="dodger">Coming Soon!</strong>
                        </div>
                    </div>
                </div>
            </div>
    </main>

{% endblock %}

