{% extends 'cms/base.html' %}

{% load static %}

    {% block breadcrumbs %}
        <li class="breadcrumb-item"><a href="{% url 'login' %}">Login</a></li>
    {% endblock %}

{% block main_block %}

    <main class="main-body">
        
        <header class="row welcome-section">    
            <div class="col-lg-12 text-center contain">
				{% comment %} <h1><strong>Welcome to the login page</strong></h1> {% endcomment %}
            </div>
	    </header>
            
        {% comment %} <hr /> {% endcomment %}
        <div class="space"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <div class="card text-center login">
                        <div class="card-body kill-padding">
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <img src="{% static 'cms/img/login.svg' %}" class="card-img-top gradient login" height="100%"/>
                                </div>
                                <div class="col-lg-6 text-center ">
                                    <h2 class="card-title"></h2>
                                    <h1 class="card-title"><b><span class="dodger">Login</span></b></h1>
                                    <form class="text-center" action="" method="POST">
                                        
                                        {% csrf_token %}
                                        <div class="row" data-toggle="tooltip" dataplacement="right">
                                            <div class="col-lg-12 space"></div> 
                                            {% comment %} <div ></div> {% endcomment %}
                                            <div class="col-lg-12 inputs" title="Name">
                                                <span class="fas fa-user dodger side-header" title="Name"></span>
                                                <input class="dodger side-content" type='text' name='name' placeholder="Name" required />
                                            </div> 
                                            <div class="col-lg-12 space"></div> 
                                            <div class="col-lg-12 inputs" title="Email">
                                                <span class="fas fa-envelope dodger side-icon" title="Email"></span>
                                                <input class="dodger side-content" type='email' name='email' placeholder="Email" pattern="^[a-z0-9]+@[a-z0-9]+.[a-z]{2,}$" required />
                                            </div> 
                                            <div class="col-lg-12 space"></div> 
                                            <div class="col-lg-12 inputs" title="Password">
                                                <span class="fas fa-lock dodger side-header pointer" title="Show Password" onclick="togglePassword()" id="lock"></span>
                                                <input class="dodger side-content" type='password' name='password' id="pass" placeholder="Password" required />
                                            </div>  
                                            <div class="col-lg-12 space"></div> 
                                            <div class="col-lg-12">
                                                <input class="btn btn-primary side-content login-btn" type='submit' value="Login" />
                                            </div>
                                            <div class="col-lg-12 space-sm"></div>
                                            <div class="col-lg-12">
                                                <h2 class="side-header text-center">New here? why not <a href="{% url 'register' %}">Register</a></h2>
                                            </div>
                                            <div class="col-lg-12 space-sm"></div>
                                            <div class="col-lg-12">
                                                <h2 class="side-header text-center"><a href="{% url 'forgot' %}">Forgot Password</a></h2>
                                            </div>                                           
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>

    <div class="space"></div>
    </main>

{% endblock %}

